<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 基于注释的事务，当注释中发现@Transactional时，使用id为“transactionManager”的事务管理器 -->
    <!-- 如果没有设置transaction-manager的值，则spring以缺省默认的事务管理器来处理事务，默认事务管理器为第一个加载的事务管理器 -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>-->

    <!-- 完成请求和注解POJO的映射 -->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>-->

    <!--开发文档规定的参数-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="1048576000"/>
    </bean>

<!--    <bean id="excelRowDao" claExcelRowDaoImplImpl"
          abstract="false" lazy-init="default" autowire="default">
        <constructor-arg ref= "mongoTemplate" />
    </bean>-->

<!--    <bean id="cdPlayer" class="soundsystem.CDPlayer">
        <constructor-arg ref= "compactDisc" />
    </bean>-->

    <!-- 导入mongodb的配置文件 -->
    <import resource="mongodb.xml" />



    <!-- 配置数据源 -->
<!--   <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass">
            <value>oracle.jdbc.driver.OracleDriver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:oracle:thin:@localhost:1521:orcl</value>
        </property>
        <property name="user">
            <value>root</value>
        </property>
        <property name="password">
            <value>123</value>
        </property>
   </bean>-->

<!--    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClass">
            <value>oracle.jdbc.driver.OracleDriver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:oracle:thin:@localhost:1521:orcl</value>
        </property>
        <property name="user">
            <value>root</value>
        </property>
        <property name="password">
            <value>123</value>
        </property>
    </bean>-->

    <!-- 配置Jdbc模板 --><!--因为使用了mongoTemplate，所以用不着spring自带的jdbc模板了-->
<!--    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>-->

    <!-- 事务管理器 --> <!--或者springmvc不支持事务管理-->
<!--    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>-->


</beans>